DEBUG=True
SECRET_KEY=change-this-secret-key-before-production
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=sumitec_db
DB_USER=sumitec_user
DB_PASSWORD=change-this-password
DB_HOST=127.0.0.1
DB_PORT=3306

COMPANY_NAME=SUMITEC
COMPANY_RUC=
COMPANY_ADDRESS=Managua, Nicaragua
COMPANY_WHATSAPP=
COMPANY_EMAIL=
